NEXT_PUBLIC_MEMOLESS_API=https://api.thorchain.org/memoless/api/v1
NEXT_PUBLIC_USWAP_API_URL=https://api.thorchain.org/v1
NEXT_PUBLIC_USWAP_API_KEY=
NEXT_PUBLIC_BLOCKCHAIR_API_KEY=
NEXT_PUBLIC_ALCHEMY_ETH_RPC_URL=
BREVO_API_KEY=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_TO_EMAIL=
