NEXT_PUBLIC_MEMOLESS_API=https://api.thorchain.org/memoless/api/v1
NEXT_PUBLIC_USWAP_API_URL=https://api.thorchain.org/v1
NEXT_PUBLIC_USWAP_API_KEY=
NEXT_PUBLIC_BLOCKCHAIR_API_KEY=
NEXT_PUBLIC_ALCHEMY_ETH_RPC_URL=
BREVO_API_KEY=

CHATWOOT_BASE_URL=https://app.chatwoot.com
CHATWOOT_INBOX_IDENTIFIER=
NEXT_PUBLIC_CHATWOOT_BASE_URL=https://app.chatwoot.com
NEXT_PUBLIC_CHATWOOT_WEBSITE_TOKEN=
