@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-gray: var(--gray);

  --color-tyler: var(--tyler);
  --color-lawrence: var(--lawrence);
  --color-blade: var(--blade);
  --color-abraham: var(--abraham);
  --color-andy: var(--andy);
  --color-leah: var(--leah);
  --color-jacob: var(--jacob);
  --color-lucian: var(--lucian);
  --color-liquidity-green: var(--liquidity-green);
  --color-brand-first: var(--brand-first);
  --color-brand-second: var(--brand-second);
  --color-brand-third: var(--brand-third);
  --color-thor-gray: var(--thor-gray);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--blade);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

@layer base {
  :root {
    --black: #000000;
    --dark: #151515;
    --carbon: #232323;
    --smoke: #4b4b4b;
    --gray: #808085;
    --steel: #b3b3b3;
    --light: #ebebeb;
    --bright: #f5f5f5;
    --white: #ffffff;

    --yellow-d: #ffb700;
    --yellow-l: #f58b00;
    --red-d: #ff1539;
    --red-l: #ff1500;

    --lg-d: #00ffa3;
    --lg-l: #00a76b;
    --rb-d: #00e8ff;
    --rb-l: #0195a4;
    --sp-d: #8257fd;
    --sp-l: #5b2be5;
    --tg-d: #a1a1a1;
    --tg-l: #4f4f4f;

    --tyler: var(--bright);
    --lawrence: var(--white);
    --blade: var(--light);
    --abraham: var(--bright);
    --andy: var(--steel);
    --leah: var(--dark);
    --jacob: var(--yellow-l);
    --lucian: var(--red-l);
    --liquidity-green: var(--lg-l);

    --brand-first: var(--yellow-l);
    --brand-second: var(--yellow-l);
    --brand-third: var(--yellow-l);
    --thor-gray: var(--tg-l);

    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: var(--red-l);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  .dark {
    --tyler: var(--black);
    --lawrence: var(--dark);
    --blade: var(--carbon);
    --abraham: var(--carbon);
    --andy: var(--smoke);
    --leah: var(--bright);
    --jacob: var(--yellow-d);
    --lucian: var(--red-d);
    --liquidity-green: var(--lg-d);

    --brand-first: var(--yellow-d);
    --brand-second: var(--yellow-d);
    --brand-third: var(--yellow-d);
    --thor-gray: var(--tg-d);

    --background: black;
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: var(--red-d);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  [data-brand="thorchain"] {
    --brand-first: var(--lg-l);
    --brand-second: var(--rb-l);
    --brand-third: var(--sp-l);
  }

  [data-brand="thorchain"].dark {
    --brand-first: var(--lg-d);
    --brand-second: var(--rb-d);
    --brand-third: var(--sp-d);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
